@import "utils/mixins-and-vars";
@import "blocks/layout";
@import "blocks/text";
@import "blocks/icons";
@import "blocks/buttons";
@import "blocks/input";
@import "blocks/common";
@import "blocks/form";

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
}
