@import "../../utils/mixins-and-vars";

.form-header {
  $gap-x: 20px;
  $gap-y: 20px;

  padding: 16px;

  &__row {
    @include flex-wrapper($gap-x, $gap-y);
  }

  &__col {
    @include flex-column($gap-x, $gap-y);
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    color: #FFF;
  }

  &__form {
    padding: 44px 64px;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: $box-shadow;
  }
}
