@import "../../node_modules/include-media/dist/include-media";

// VARIABLES

$xl: 500px;
$md: 425px;
$sm: 320px;

$breakpoints: (xl: $xl, md: $md, sm: $sm);

$tr-dur: 0.3s;
$tr-func: cubic-bezier(0.25, 1, 0.5, 1);

$main: #5683A4;

$text-normal: #222;
$text-light: #999;

$error: red;

$box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);

$background: #E7EBF0;
$background-striped: linear-gradient(to bottom, $main 260px, #E7EAEF 260px, #E7EAEF 100%);

$border-color: #E6E6E6;
$border-active: #6BACE1;

$link-color: #5683A4;

$aside-col: 300px;
$main-col: calc(100% - #{$aside-col});

// MIXINS

@mixin transition($properties: all, $duration: $tr-dur, $method: $tr-func) {
  $value: ();

  @each $property in $properties {
    @if length($value) > 0 {
      $value: append($value, unquote(",") #{$property} $duration $method);
    }

    @else {
      $value: append($value, #{$property} $duration $method);
    }
  }

  transition: $value;
}

@mixin flex-wrapper($gap-x, $gap-y: $gap-x) {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$gap-x} + 1px);
  margin: (-$gap-y / 2) (-$gap-x / 2);
}

@mixin flex-column($gap-x, $gap-y: $gap-x, $width: auto) {
  @if $width != auto {
    width: $width;
  }

  padding: ($gap-y / 2) ($gap-x / 2);
}
