.next-button,
.next-button:focus {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  font-size: 13px;
  line-height: 20px;
  color: #FFF;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  outline: none;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 12px;
    margin-bottom: -4px;
    margin-left: 6px;
    mask: url("../svg/arrow.svg") no-repeat center;
    background-color: #FFF;
  }
}
