.form {
  $gap-x: 24px;
  $gap-y: 24px;

  &__text {
    color: $text-light;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;

    :last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    @include flex-wrapper($gap-x, $gap-y);
  }

  &__col {
    @include flex-column($gap-x, $gap-y, 100%);
  }

  &__input {
    width: 100%;
  }
}
