.title {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.text {
  font-size: 13px;
  line-height: 160%;
  font-weight: normal;
}

.link {
  text-decoration: underline;
  color: $link-color;
  cursor: pointer;
}

.input-label {
  font-weight: 400;
  font-size: 13px;
  color: $text-light;
  line-height: normal;
}

.input-error {
  margin-top: 2px;
  font-size: 10px;
  color: red;
}

.ant-input {
  font-size: 13px;
  color: $text-normal;
  padding: 2px 0;

  &.ant-input--error {
    border-color: $error;
  }

  &::placeholder {
    font-size: 13px;
    color: $text-light;
  }
}
