.title {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.text {
  font-size: 13px;
  line-height: 160%;
  font-weight: normal;
}

.input-label {
  font-weight: 400;
  font-size: 13px;
  color: $text-light;
  line-height: normal;
}

.ant-input {
  font-size: 13px;
  color: $text-normal;
}
