@import "../../utils/mixins-and-vars";

.authorization {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 0 100px;
  background: $background-striped;

  &__container {
    width: 400px;
    margin: 0 auto;
  }
}
