@import "../../utils/mixins-and-vars";

.header {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  background-color: $main;

  &__aside {
    width: $aside-col;
  }

  &__main {
    width: $main-col;
  }
}
