@import "../../utils/mixins-and-vars";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $background-striped;

  $gap-x: 20px;
  $gap-y: 20px;

  &__container {
    position: absolute;
    top: calc(40% - 135px);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }

  &__header {
    padding: 16px;
  }

  &__row {
    @include flex-wrapper($gap-x, $gap-y);
  }

  &__col {
    @include flex-column($gap-x, $gap-y);
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 16px;
  }

  &__header-title {
    color: #FFF;
  }

  &__form {
    padding: 44px 64px;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: $box-shadow;
  }
}
